<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nwuking.ytalk">
    <!-- 网络相关配置 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ACCESS_NETWORK_STATE" /> <!-- 存储相关配置 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 使用相机 -->
    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.CAMERA" /> <!-- 麦克风 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 位置相关 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 电话相关配置 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 震动，用于消息来的时候 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 杀死后台进程 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- WIFI 相关的配置 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!--  -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 允许应用修改当前设置 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" /> <!--  -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- 用于完全关闭应用 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" /> <!-- app应用相关 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 启动页面： -->
        <activity
            android:name=".activities.SplashActivity"
            android:label="YTalk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 登录 -->
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <!-- 切换服务器 -->
        <activity
            android:name=".activities.ChangeServerActivity"
            android:screenOrientation="portrait" />
        <!-- 注册 -->
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>